@font-face
{
    font-family: 'robotoSlab';
    src:
        local('Roboto Slab'),
        local('RobotoSlab-Regular');
}

*
{
    font-family: robotoSlab;
    color: rgb(255,255,255);
    font-weight: 400;
}

::selection
{
    background-color: rgba(200, 100, 200, 0.3);
}

body
{
    background-color: rgb(40,40,40);
    margin: 0;
}

h1,h2,h3,h4,h5,h6
{
    text-align: center;
}

.main_title
{
    font-size: 4rem;
}

p
{
    padding: 0 0 0 2rem;
}
