body {
    background-color: black;
}

h3 {
    text-align: center;
}

p, math, h3 {
    color: white;
    position: center;
}

@font-face {
    font-family: 'RobotoSlabRegular';
    src: local('css/fonts/Roboto_Slab/RobotoSlab-Regular.tff')
}

a {
    color: rgb(255, 0, 128);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 255, 127);
}


::selection {
    background-color: rgb(255, 0, 255);
}

::-moz-selection {
    background-color: rgb(255, 0, 255);
}

::-o-selection {
    background-color: rgb(255, 0, 255);
}

::-ms-selection {
    background-color: rgb(255, 0, 255);
}

::-webkit-selection {
    background-color: rgb(255, 0, 255);
}


.section {
    font-size: 245%;
    text-align: left;
    font-style: italic;

    line-height: 110%;

    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 0.2%;
    padding-top: 0.2%;

    margin-top: 0.2%;
    margin-bottom: 0.3%;
}

.description {
    font-size: 162%;
    text-align: left;

    line-height: 120%;

    padding-left: 16%;
    padding-right: 16%;
    margin-top: 0%;
    margin-bottom: 0%;
}
